.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.burger {
  margin-right: 10px;
  flex: 0 0 auto;
}

.title {
  display: inline-block;
  flex: 0 0 auto;
}

.headerSpacer {
  flex: 1;
}

.headerAuthContainer {
  flex: 0 0 auto;
}

.navbar {
  padding: 10px;
}

.main {
  padding: 10px;
}
